__pycache__
.coverage
.coverage.*
*.idea/*
*.egg-info
*.log
*.mo
*.py?
*.swp
.*project
# dirs
/.settings/
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
node_modules/
parts/
dist/*
test.plone_addon/
var/
.vscode/
.tox/
reports/
venv/
*/static/js/old/
# files
.installed.cfg
.mr.developer.cfg
coverage.xml
lib64
local.cfg
log.html
output.xml
pip-selfcheck.json
pyvenv.cfg
report.html
# excludes
